* {
  font-family: cairo;
}
.header{
  width: 390px;
  margin: 0 auto;
}
.img {
  width: 88px;
  height: 88px;
}
.img2 {
  width: 106px;
  height: 60px;
}
.img3 {
  width: 110px;
  height: 45px;
}
.img4 {
  width: 65px;
  height: 100px;
}